<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zf_agent_a_pad"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.comdo.zf_agent_a_pad.util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_agent"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <!-- 交易流水 start -->
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.TradeFlowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.GenerateSearch"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.TradeClientActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.TradeAgentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.TradeDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.TradeStatisticActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.ApplyListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.ApplyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.ApplyBankActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.ApplyChannelActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.ApplyChooseActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.trade.CityProvinceActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalManagerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalManagerDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AfterSaleActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AfterSaleDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.UserManageListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.UserManageDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.ImgViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.WebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.PosListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.StockListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.StockInfoListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.StockTerminaListActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.StockSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalApplyBindActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalApplyCreateActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalSelectPOSActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalApplyServiceActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalApplySelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.GoodDeatail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.GoodDeatilMore"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.PosPortActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.PosSearch1"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.GoodConfirm"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.LeaseConfirm"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.OrderList"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AgentDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.MsgDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TransgoodsDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.CreatAgent"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.DistributeDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalSelectActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.ApplyChannelagainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.CreatStaff"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.StallmanagerDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.EditStallmanager"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.OrderDetail"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.PayFromCar"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.Comment"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.FindPass"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.FindpassmailSucces"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.Register"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.RegSucceed"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.video.VideoActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AddAdress"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.MyWebView"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.WelcomeActivity"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalSelectPOSSActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.unionpay.uppayplugin.demo.APKActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.PostSonList"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.SelectPayChannel"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AddPayChannel"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.TerminalSelectUserActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.GoodDetailImgs"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AlterPhone"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AlterEmali"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AlterNPhone"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.comdo.zf_agent_a_pad.activity.AlterNEmali"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>